body {
    background-color: #EAF6F6;
        }
hr {
    border-color: grey;
    border-width: 10px;
    border-style: none;
    border-top-style: dotted;
    width: 5%;
        }
img {
            
            border-radius: 50%;
            height: 300px;
            width: 300px;
        }
h1 {
color: #66BFBF;
}
h3 {
color: #66BFBF;
}
